<!-- <ion-split-pane contentId="first-content" [disabled]="!paneEnabled"> -->
  <ion-menu side="start" menuId="first" contentId="main">
    <!-- <ion-menu contentId="first-content" menuId="first" side="start" type="overlay"> -->
      <ion-header class="ion-text-center">
        <ion-toolbar translucent>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-center">
                Contact Us
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col>
                <ion-title>Events</ion-title>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-header>
      <ion-content menuId="content">
        <p>Contact</p>
      </ion-content>
    </ion-menu>
  
  <ion-router-outlet id="main"></ion-router-outlet>
  <!-- </ion-split-pane> -->
  
  
  