<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    
      <ion-title>
        BzeBee
      </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>
<ion-content >

      <!-- <strong> <h1>Digital Marketing Strategy to Boost your Business</h1> </strong>      -->
    <ion-grid>   
      <div id="stRow">
      <ion-row id="first">
        <ion-col></ion-col>
        <ion-col  >
          <div class="jumbotron">
          <h1 >Digital Marketing Strategy to Boost your Business</h1>
          <img src="../../assets/BzeBeeP.png"> 
          <div><ion-button >Call Us Today!</ion-button></div>
          <ion-button [routerLink]="['/contact']">Contact Us</ion-button>
          
           </div>
        </ion-col>

        <ion-col></ion-col>   
      </ion-row> 
      </div>
      <ion-row class="ion-justify-content-evenly ion-padding-horizontal ">        
        <ion-col size="12" size-sm>
          <ion-card>
            <ion-card-header>
              <ion-card-title></ion-card-title>
              <ion-card-subtitle>Extraordinary</ion-card-subtitle>  
            </ion-card-header>
            <p>An extraordinary Marketing Service at your finger tips to help your business grow</p>
              <ion-card-content>
              <img src="../../assets/creativity.jpg"> 
            </ion-card-content>          
          </ion-card>
        </ion-col>
        <ion-col  size="12" size-sm>     
          <ion-card>
            <ion-card-header>
              <ion-card-title></ion-card-title>
              <ion-card-subtitle>Boosting</ion-card-subtitle>  
            </ion-card-header>
            <ion-card-content>
              <p>Boosting your business with the help from friendly and reliable workers BzeBee and Ciphr7</p>
            <img src="../../assets/problems.jpg">  
          </ion-card-content>
          </ion-card>
          
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card>
      
      <p>Do you need help in growing your business? Would you like help to solve that problem?
      Bzebee is here to help you achieve all that and make you a successful business owner.</p>  
    </ion-card>
    <ion-grid > 
      <ion-row class="ion-justify-content-evenly ion-padding-horizontal " >
        <ion-col size="12" size-sm >
          <ion-card>
            <ion-card-header>
              <ion-card-title></ion-card-title>
              <ion-card-subtitle>Success</ion-card-subtitle>  
            </ion-card-header>
            <ion-card-content>
              <img src="../../assets/success.jpg">
              <p>Expand your business with driven motivation and help from friendly and hardworking partner who's willing to answer all your questions n solve problems you've been struggling with n put u on top and get u getting more customers to your business. Bzebee partnering with Ciphr7 (gil@ciphr7.com), We do a wide range of websites including Mobile App, Flyers, Logos, and SEO. We are here to satisfy your every needs. Help us help you. A Happy Customer makes our job Easier.</p>
                <!-- <div class="sucessImage" ></div> -->
            </ion-card-content>
           
          </ion-card>
        </ion-col  >
        <ion-col size="12" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-card-title></ion-card-title>
            <ion-card-subtitle>Experinece!</ion-card-subtitle>  
          </ion-card-header>
          <ion-card-content>
          <p>With your help from BzeBee Marketing you'll experience the wellness n satisfaction you've been waiting for. Sit back and relax n let's us turn you into that successful business owner, the experience of a lifetime. Try us as we work hand in hand and step by step to lead u to success</p>
          
          <img src="../../assets/smoney.jpg">
        </ion-card-content>
        </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-card>
      <p>Your decision will be the best one you ever made</p>
      <P>Digital Marketing here to help you grow your business</P>
      <p>Our techniques is made to reflect the hard work and dedication we put into our customers </p>
      <p>Expect nothing but d best from our friendly team at BzeBee. Our partners are waiting to answer your questions and serve you to the best of out ability 100% guaranteed. Remember to be successful we must put it into action..</p>

    </ion-card>
   

    
    <footer  align="center">
      <div color="warning">
      <p>626-1111</p>
      <p>Burns Ave, Belize, Cayo</p>
      <p>info@bzebee.com</p>
      <p>@ Copyright 2020 BzeBee Advertising Inc - All Rights Reserved</p>
    </div>
    </footer>

</ion-content>



