:root {
  --breakpoint: 600px;
}

@media (min-width: var(--breakpoint)) {
  /* Doesn't work :( */
}
#container {
  text-align: center;

  position: absolute;
  left: 25%;

  right: 25%;
  // top: 50%;
  // transform: translateY(-50%);
}


#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
card {
  padding: 0%;
}

 .jumboImage {
    
    background: url('../../assets/BzeBee.png') center center;
    //background-color:#bb3434;
    background-repeat: no-repeat;
    height: 100vh;
    max-height: 66%;
    max-width: 100%;
    background-size: 20em;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:center;
    justify-content:center;
  
  
}



.confidenceImage {
  background: url('../../assets/creativity.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 100%;
  height: 100vh;
  padding: 0%
  
}

// .ion-card {
  //   margin: 5px;
  // }
  
  .problemImage {
    background: url('../../assets/problems.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100%;
    height: 100vh;
    padding: 0%;
  }
  
  .sucessImage {
    background: url('../../assets/success.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100%;
    height: 100vh;
  }
  .smoneyImage {
    background: url('../../assets/smoney.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100%;
    height: 100vh;
  }
  .grid_box .a #section_one{background:url("/img/high-tech.jpg") center center;
    background-color:#cccccc;
    background-repeat:no-repeat;
   // width:100%;
   height: 100vh;
    height:500px;
    //background-size:cover;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:center;
    justify-content:center}